<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="teamwoogie.woogie">

    <!-- chatbot 추가 인터넷 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    //위치 정보 접근을 위한 퍼미션 추가
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name = "android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:replace="android:allowBackup"
        android:usesCleartextTraffic="true"
        >
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:authorities="teamwoogie.woogie.provider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAO3PnnhQGoMHOaTTwtcNlb8bilkPEILR4" />

        <activity
            android:name=".SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShowMonthDisease" />
        <activity android:name=".ShowDiseaseRecord" />
        <activity android:name=".ChatbotActivity" />
        <activity android:name=".ShowMapActivity" />
        <activity android:name=".AlarmActivity" />
        <activity android:name=".HealthActivity" />
        <activity android:name=".AddAlarmActivity" />
        <activity android:name=".ShowHospitalMapActivity" />
        <activity android:name=".AlarmResultActivity" />
        <activity android:name=".ShowHospitalInfoActivity"/>
        <activity android:name=".AfterLoginActivity"/>
        <activity android:name=".SignupActivity"/>
        <activity android:name=".ocrActivity"/>
        <activity android:name=".TakePhoto"/>


    </application>

</manifest>